*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0;
   
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    top: 0;
    position: fixed;
    background-color:rgba(41,21,71,0.8);
    font-size: 10px;
    z-index: 1;
}

.header_left{
    display:flex;
    justify-content: space-between;
    width:120px;
   padding-left: 40px;
    
}
.header_left span{
    color:darkgray;
}

.header_search{
    display: flex;
    align-items: center;
    width: 450px;
    height: 35px;
    background-color: #432275;
    border-radius: 25px;
    margin-left: 20px;

}
.header_search span{
    color: white;
    margin-left: 9px;

}
.header_search-input{
    flex: 1;
    height: 100%;
    background-color: #432275;
    outline: none;
    border:none;
    border-radius: 25px;
    font-size: 0.9rem;
}
.header_right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}
.header__topic{
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color:#432275;
    margin-left: 8px;
}
.header__topic-notify{
    position:absolute;
    top:120%;
    left: 20px;
    right:190px;
    width:48px;
    height:26px;
    background-color: darkgrey;
    display: none;

   
    
}
.header__topic-notify p{
    color:whitesmoke;
    font-size: 0.7rem;
    text-align: center;

}
.header__topic-notify::before{
    content:"";
    border:10px solid;
    border-color: transparent transparent transparent darkgray;
    position: absolute;
    right:10px;
    top:-9px;
}

.header__topic:hover .header__topic-notify{
    display:block;
}
.header__topic i{
    position:absolute;
    font-size: 15px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.header__setting{
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color:#432275;
    margin-left: 8px;

}
.header__setting span{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
}
.header__setting-notify{
    position:absolute;
    top:120%;
    left: 20px;
    right:190px;
    width:48px;
    height:26px;
    background-color: darkgrey;
    display: none;
}
.header__setting-notify p{
    color:whitesmoke;
    font-size: 0.7rem;
    text-align: center;

}
.header__setting-notify::before{
    content:"";
    border:10px solid;
    border-color: transparent transparent transparent darkgray;
    position: absolute;
    right:10px;
    top:-9px;
}
.header__setting:hover .header__setting-notify{
    display:block;
}
.header__upload{
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color:#432275;
    margin-left: 8px;
}
.header__upload span{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
}
.header__upload-notify{
    position:absolute;
    top:120%;
    left: 20px;
    right:190px;
    width:48px;
    height:26px;
    background-color: darkgrey;
    display: none;

}
.header__upload-notify p{
    color:whitesmoke;
    font-size: 0.7rem;
    text-align: center;

}
.header__upload-notify::before{
    content:"";
    border:10px solid;
    border-color: transparent transparent transparent darkgray;
    position: absolute;
    right:10px;
    top:-9px;
}
.header__upload:hover .header__upload-notify{
    display:block;
}
.header__avatar:hover,i:hover{
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
/* header css main */
.main_container{
    background-color:rgba(41,21,71,0.8);
    margin-top: 70px;
    margin-left: 240px;
}

.main_text{
    color:whitesmoke;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial;
    padding-top: 5px;
    margin-left: 73px;
    cursor: pointer;

}

.main_article img{
    height:200px;
    border-radius: 3px;
    position: relative;
}
.main_article-icon{
    width: 200px;
    height:200px;
    background-color: rgba(0,0,0,0.5);;
    position: absolute;
    bottom:304px;
    border-radius: 3px;
    text-transform:uppercase;
    display: none;
    

}
.main_article-icon span{
    color:whitesmoke;
    font-size: 2.2rem;
}

.main_article-img:hover .main_article-icon{
    display:block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition:2s;
}

.main_article-title{
    text-decoration: none;
    font-size: 1.0rem;
    color: white;
    font-weight: bold;
    font-family: Arial;
    display: block;
    padding-top: 5px;;
   
}
.main_article-title:hover{
    color:plum;
}
.main_article-topic{
    color:white;
    font-size: 1.0rem;
    font-family: Arial;
    cursor: pointer;
}



